@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

body{
  background-color:#f2f2f2;
  font-family: 'Arima Madurai', cursive;
}


.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}



.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}



.content-details p{
  left: -200px;
  color: #fff;
  font-size: 15px;;
}

.fadeIn-bottom{
  top: 80%;
}

p{
  position:relative;
  padding:0;
  margin-left:43%;
  font-size: 30px;
  font-weight: bold;
}

#frame{
  position:relative;
  padding:0;
  margin:0;
  border:solid 15px #555; 
  max-width:1200px;
  margin:40px auto;
  box-shadow:-3px -3px 12px #999;
  
  }
#border{
  position:relative;
  padding:0;
  margin:0;
  border:solid 70px white;
 box-shadow:-3px -3px 12px #999;
     }  
img{
  display:block;
  padding:0;
  margin:0;
  width:100%;
  height:auto;
  border-top:solid 2px #aaa;
  border-left:solid 2px #aaa;
  border-bottom:solid 2px #ccc;
  border-right:solid 2px #ccc;
  }


