@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Arima Madurai', cursive;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #fc3d21;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Sulphur Point', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0b3d91;
  color: #fc3d21;
}


.titleNASA {
  color: #0b3d91;
  position: relative;
  padding: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#date {
  position: relative;
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

#art {
  color: #fc3d21;
  font-weight: 500;
  position: relative;
  padding: 0;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}


.content-title {
  font-family: 'Sulphur Point', sans-serif;
  color: #0b3d91;
  font-weight: 500;
  position: relative;
  padding: 0;
  font-size: 17px;
  text-align: center;
  font-weight: bold;

}

.row {
  display: flex;
}

.column {
  padding: 5px;
  margin: 30px;
  position: relative;
  border: solid 15px #555;
  width: 1200px;
  height: 600px;
  margin: 40px auto;
  box-shadow: -3px -3px 12px #999;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

